@import "sprite-mixin.scss";

body,
body[data-theme="light"] {
  --bg-color: #fff;
  --font-color: #1b1e23;
  --left-time-color: red;
  --left-time-rgb: 255, 0, 0;
  --feature-color: #4b9aaa;
}
body[data-theme="dark"] {
  --bg-color: #1b1e23;
  --font-color: #fff;
  --left-time-color: red;
  --left-time-rgb: 255, 0, 0;
  --feature-color: #4b9aaa;
}

$size: 80vmin;
$big-indicator-width: 0.03;
$big-indicator-height: 0.007;
$small-indicator-width: 0.01;
$small-indicator-height: 0.003;

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: sans-serif;
  &.use-transition {
    transition: background-color ease 0.3s, color ease 0.3s;
  }
}
button {
  background: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  padding: 0;
}

@keyframes blinking-background {
  0%, 40% {
    /* stylelint-disable-next-line color-function-notation */
    background-color: rgba(var(--left-time-rgb), 0);
  }
  50%, 90% {
    /* stylelint-disable-next-line color-function-notation */
    background-color: rgba(var(--left-time-rgb), 0.5);
  }
}

#root {
  height: 100%;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  user-select: none;

  &.finished {
    animation: blinking-background 3s ease infinite;
  }
}

.clock {
  &__container {
    display: flex;
    height: $size;
    justify-content: center;
    position: relative;
    width: $size;
  }
  &__indicator__wrapper {
    transform: translate(calc(#{$size} / 2), calc(#{$size} / 2));
  }
  &__indicator {
    background: var(--feature-color);
    height: calc(#{$size} * #{$small-indicator-height});
    left: calc(-#{$size} * #{$small-indicator-width} / 2);
    position: absolute;
    width: calc(#{$size} * #{$small-indicator-width});
    z-index: 2;
    &:nth-of-type(5n) {
      height: calc(#{$size} * #{$big-indicator-height});
      left: calc(-#{$size} * #{$big-indicator-width} / 2);
      width: calc(#{$size} * #{$big-indicator-width});
    }

    @for $i from 1 through 60 {
      &:nth-of-type(#{$i}) {
        transform: rotateZ(calc(6deg * #{$i})) translateX(calc(#{$size} * -0.5));
      }
    }
  }
  &__label__wrapper {
    transform: translate(calc(#{$size} / 2), calc(#{$size} / 2));
  }
  &__label {
    font-size: calc(#{$size} * 0.055);
    position: absolute;

    @for $i from 1 through 60 {
      &:nth-of-type(#{$i}) {
        transform:
          translateX(-50%)
          translateY(-50%)
          rotateZ(calc(30deg - 30deg * #{$i}))
          translateY(calc(#{$size} * -0.56))
          rotateZ(calc(30deg * #{$i} - 30deg));
      }
    }
  }
  &__axis {
    background: var(--feature-color);
    border-radius: 3px;
    height: 5px;
    left: calc(#{$size} * 0.5 - 1 * 0.5);
    position: absolute;
    top: calc(#{$size} * 0.5);
    width: 5px;
    z-index: 4;
  }
  &__progress__wrapper {
    opacity: 0.6;
    transition: transform ease 0.3s;
  }
  &__progress__left, &__progress__right {
    display: inline-block;
    height: $size;
    overflow: hidden;
    position: relative;
    top: 2.5px;
    width: calc(#{$size} / 2);
    z-index: 3;
    &::before {
      background-color: var(--left-time-color);
      content: "";
      height: inherit;
      position: absolute;
      width: inherit;
    }
  }
  &__progress__left::before {
    border-radius: calc(#{$size} / 2) 0 0 calc(#{$size} / 2);
    transform: rotate(#{var(--degree)});
    transform-origin: 100% 50%;
  }
  &__progress__right::before {
    border-radius: 0 calc(#{$size} / 2) calc(#{$size} / 2) 0;
    transform: rotate(#{var(--degree)});
    transform-origin: 0 50%;
  }
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

.button {
  &__group {
    bottom: 0;
    margin: calc(#{$size} * 0.03);
    position: fixed;
    right: 0;
    user-select: contain;
  }
  &__sound {
    height: calc(#{$size} * 0.08);
    width: calc(#{$size} * 0.08);
    &.on {
      @include img-volume-black;
    }
    &.off {
      @include img-mute-black;
    }
  }
  &__theme {
    height: calc(#{$size} * 0.08);
    margin-left: calc(#{$size} * 0.03);
    width: calc(#{$size} * 0.08);

    @include img-light-black;
  }
}

[data-theme="dark"] {
  .button {
    &__sound {
      &.on {
        @include img-volume-white;
      }
      &.off {
        @include img-mute-white;
      }
    }
    &__theme {
      @include img-light-white;
    }
  }
}

.guide-user-interaction {
  align-items: center;
  background: rgb(0 0 0 / 40%);
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
