@import 'sprite-mixin.scss';

$bg-color: #1b1e23;
$left-time-color: red;
$size: 80vmin;
$white: #f4eed7;
$feature : #4b9aaa;

$big-indicator-width: 0.03;
$big-indicator-height: 0.007;
$small-indicator-width: 0.01;
$small-indicator-height: 0.003;

html,
body {
  margin: 0; 
  height: 100%;
  overflow: hidden;
}
body {
  background: $bg-color;
  font-family: sans-serif;
  color: white;
}

@keyframes blinking-background {
  0%, 40% {
    background-color: rgba($left-time-color, 0);
  }
  50%, 90% {
    background-color: rgba($left-time-color, 0.5);
  }
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &.finished {
    animation: blinking-background 3s ease infinite;
  }
}

.clock {
  &__container {
    height: $size;
    width: $size;
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__indicator__wrapper {
    transform: translate(#{($size / 2)}, #{($size / 2)});
  }
  &__indicator {
    position: absolute;
    width: #{($size * $small-indicator-width)};
    left: #{-($size * $small-indicator-width / 2)};
    height: #{($size * $small-indicator-height)};
    background: $feature;
    z-index: 2;
    &:nth-of-type(5n) {
      width: #{($size * $big-indicator-width)};
      left: #{-($size * $big-indicator-width / 2)};
      height: #{($size * $big-indicator-height)};
    }
  }
  &__axis {
    position: absolute;
    background: $feature;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    z-index: 4;
    top: #{($size * 0.5)};
    left: #{($size * 0.5 - 1 * 0.5)};
  }
  &__progress__wrapper {
    transition: transform ease 0.3s;
    opacity: 0.6;
  }
  &__progress__left, &__progress__right {
    width: #{($size / 2)};
    height: $size;
    top: 2.5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 3;
    &:before {
      height: inherit;
      width: inherit;
      position: absolute;
      content: "";
      background-color: $left-time-color;
    }
  }
  &__progress__left:before {
    border-radius: #{($size / 2)} 0 0 #{($size / 2)};
    transform-origin: 100% 50%;
    transform: rotate(#{var(--degree)});
  }
  &__progress__right:before {
    border-radius: 0 #{($size / 2)} #{($size / 2)} 0;
    transform-origin: 0 50%;
    transform: rotate(#{var(--degree)});
  }
}

@for $i from 1 through 60 {
  section:nth-of-type(#{$i}) {
    transform: rotateZ(calc(6deg * #{$i})) translateX(-#{($size * 0.5)});
  }
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}
