
@mixin img-light-black {
  background-image: url('/sprites.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 300% 200%;
}

@mixin img-light-white {
  background-image: url('/sprites.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 300% 200%;
}

@mixin img-mute-black {
  background-image: url('/sprites.png');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 300% 200%;
}

@mixin img-mute-white {
  background-image: url('/sprites.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 300% 200%;
}

@mixin img-volume-black {
  background-image: url('/sprites.png');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 300% 200%;
}

@mixin img-volume-white {
  background-image: url('/sprites.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 300% 200%;
}
